* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    min-height: 100vh;
    padding: 2vh;
}

.header {
    font-family: 'Dancing Script', sans-serif;
    font-size: 36px;
    color: #f37024; 
}

/* Grid */

.container {
    flex: 1;
    width: 100%;
    max-width: 40vw;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
} 

.cell {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
}


/* Buttons */

.buttons {
    width: 100%;
    max-width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: rgb(250, 242, 230);
    padding: 2% 6%;
    width: 25%;
    border-radius: 5px;
    border-color: white;
    font-size: 18px;
}

.button-clicked {
    background-color: rgb(248, 228, 197);
}

button img {
    max-height: 25px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Slider */

.slider-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(253, 223, 173);
  opacity: 0.7;
  height: 15px;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
  border-radius: 100%;
  background: #f37024; 
  cursor: pointer;
}

/* Footer */

.footer {
    padding-top: 30px;
}

